@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



h1,
h2 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

p,
label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bodybg {
  background-image: url("images/pexels-pixabay-313563.jpg");
  background-color: rgba(255, 255, 255, 0.76);
  background-blend-mode: lighten;
}

@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
